*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
!debug.keystore
.kotlin/
app/src/main/jniLibs/**/*.so
tools/testdoc-blur.png
tools/testdoc-skew*.png
tools/testdoc-rot*.png
tools/*_spans.txt
